body {
    max-width: 750px;
    margin: 10px auto;
    padding: 0 10px;
    font: 29px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #CB7723;
    }
    p{
        font-size: 29px;
        padding: 5px 5px;
        line-height: 25px;
    }
    .co {
      color: #0f2f42;
      font-family: Questrial, sans-serif;
      font-size: 29px;
      font-weight: bold;
      text-align: center;
      position: sticky;
      top: 0;
      background-color:#CB7723
;
    }
    .bl{
        font-size: 29px;
        font-family: Questrial, sans-serif;
        color: #CB7723;
    }
    .re{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:#42b2b4;
         opacity: .6;
        background-color: #CB7723;
        font-size: 29px;
    }
/*    .small-image{
        width: 100px;
    }*/
.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
    .border2 {
    border-color: green;
    border-width: 4px;
    border-style: solid;
    border-radius: 2px; 
    background-color: rgb(24, 60, 75);
    } 
    .backy{
        background-color:#214761;
    }
    .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(10deg);
    transform-origin: top right;
    }
    a { color: #BB3F3F; } /* CSS link color */