html{
    background-color: #797979;
    background-blend-mode: darken;
    color: #ffc916;
    size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    
    border: 2px  solid #faeab0;
    padding: 7px;
    margin: 10px;
    background-color: #646768;
    
}
p{
    color: #ebd797;
}

img{
    width: 20em;
    float: inline-start;
}